button.link {
  border: none;
}

.login {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.login form div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.login label {
  color: gray;
  font-size: 12px;
}

.login input {
  outline: none;
  border-radius: 4px;
  border: 1px solid lightgray;
  height: 40px;
  padding: 0 10px;
}

.login input:focus {
  border-color: royalblue;
  /* border-width: 2px; */
}
